@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color:  rgb(247, 248, 250);
}

@layer base {
  .t-center {
    @apply flex justify-center items-center;
  }
  /* 超出行数省略 */
  .t-omit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .t-gray {
    background-color: var(--light-color);
  }
  /* 卡片样式统一 */
  .t-card {
    @apply p-4 bg-white;
  }
}
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* 避免loading遮住表头(loading为1000) */
.el-table__header-wrapper {
  z-index: 10001;
}

/* .el-table--scrollable-y .el-table__body-wrapper {
  overflow-y: auto;
} */

/* 滚动条美化 */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}