@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-light-gray:  rgb(242, 242, 242);
}

@layer base {
  .t-center {
    @apply flex justify-center items-center;
  }
  /* 超出行数省略 */
  .t-omit {
    @apply overflow-hidden text-ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .t-gray {
    background-color: var(--bg-light-gray);
  }
  .t-card {
    @apply p-2 bg-white box-border rounded;
  }
  .t-shadow {
    box-shadow: 0 0 3px rgb(0 0 0 / 0.1);
  }
}

// cesium地图滤镜,效果更佳
.cesium-widget>canvas {
  filter: contrast(150%);
}

/* 滚动条美化 */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 2px;
  border: 2px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}
