@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --light-color:  rgb(249, 249, 253);
}

@layer base {
  .t-center {
    @apply flex justify-center items-center;
  }
  /* 超出行数省略 */
  .t-omit {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
  .t-gray {
    background-color: var(--light-color);
  }
  /* 卡片样式统一 */
  .t-card {
    @apply relative p-4 bg-white;
  }
  .t-shadow {
    box-shadow: 0 0 3px rgb(0 0 0 / 0.1);
  }
}
/* 地图div graphic */
.t-divGraphic {
  width: 285px;
  height: 192px;
  background-image: url('/water.png');
  background-repeat: no-repeat;
  background-size: cover;
}
body {
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* 避免loading遮住表头(loading为1000) */
/* .el-table__header-wrapper {
  z-index: 10001;
} */

/* .el-table--scrollable-y .el-table__body-wrapper {
  overflow-y: auto;
} */

.leaflet-touch.leaflet-bar {
  border: none !important;
}

/* 滚动条美化 */
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}